<div class="jumbotron">
    <h1>Manufacturing API</h1>
    <p>
        The Manufacturing API is now running. Since you are human, you may prefer to use a GUI, which is available
        on GitHub as part of the <a href="https://github.com/ytechie/Manufacturing.Web">manufacturing.web project.</a>
    </p>
    <p>Source code for this API project is <a href="https://github.com/ytechie/Manufacturing.Api">available on github.</a></p>
</div>
